.primaryBtnGradient {
    
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    color: red;
    box-shadow:black 10px 0;
    height:55px;
}
/*#7BE495 ... #224AFF (69%)*/